
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        //h1 Welcome to the #{title} page
        //each val in peopleDatabase
        //  h2 #{val.name}

        script.
          function goToHomePage() {
            window.location.href = '/';
          }
          function goToTestInputPage() {
            window.location.href = 'dbtestinput';
          }
          function goToTestOutputPage() {
            window.location.href = 'dbtestoutput';
          }

        header(class="page-header")
          img(id="header-icon" src="images/bluebonnet-icon-2.webp")
          div(class="nav-cluster")
            h1(id="page-header-text") #{title}
            button(id="home-button" onclick='goToHomePage()') Home
            button(id="test-input-button" onclick='goToTestInputPage();') Test Input 
            button(id="test-output-button" onclick='goToTestOutputPage()') Test Output
      
        section(class="people-section")
          div(class="section-header")
            h3(class="section-header-text") People
        
          div(class="people-container")
          
            each val in peopleDatabase
              div(class="person-card")
                img(class="profile-pic" src=val.imageURL)
                h2(class="person-name") #{val.name}
                div(class="person-role") #{val.role}
                div(class="person-skills")
                  div(class="person-skill") #{val.skill1}
                  div(class="person-skill") #{val.skill2}
                div(class="person-campaign") #{val.campaign}   